[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
halo = "*"

[dev-packages]
twine = "*"
tox-travis = "*"
tox-pyenv = "*"
pytest = "*"
tox = "*"

[requires]
python_version = "3.7"
