[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
halo = "*"

[dev-packages]
twine = "*"
tox-travis = "*"
tox-pyenv = "*"
pytest = "*"
tox = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.7"

[scripts]
example_simple = "python examples/simple.py"
example_logger = "python examples/with_logger.py"
build = "python setup.py sdist bdist_wheel"
publish = "twine upload dist/*"
test = "python -m pytest --cov=spinlog"
